<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div id="acb-widget" class="acb-widget" hidden
     role="complementary"
     aria-label="{f:translate(key: 'LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.dialog.label', arguments: {0: settings.botName})}"
     data-acb-contact-url="{contactPageUrl}"
     data-acb-page-uid="{pageUid}"
     data-acb-language-uid="{languageUid}"
     data-acb-base-path="{basePath}"
     data-acb-gender-default="{settings.genderStyleDefault}"
     data-acb-read-aloud="{settings.readAloudEnabled}">

    <div id="acb-dialog" class="acb-dialog" hidden>

        <div class="acb-dialog__header">
            <f:switch expression="{settings.headingLevel}">
                <f:case value="3"><h3 class="acb-dialog__title">{settings.botName}</h3></f:case>
                <f:case value="4"><h4 class="acb-dialog__title">{settings.botName}</h4></f:case>
                <f:case value="5"><h5 class="acb-dialog__title">{settings.botName}</h5></f:case>
                <f:case value="6"><h6 class="acb-dialog__title">{settings.botName}</h6></f:case>
                <f:defaultCase><h2 class="acb-dialog__title">{settings.botName}</h2></f:defaultCase>
            </f:switch>
            <button type="button" id="acb-close" class="acb-close">
                <img class="acb-icon" src="{f:uri.resource(path: 'EXT:accessible_chatbot/Resources/Public/Icons/close.svg')}" width="24" height="24" alt="" />
                <span class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.close" /></span>
            </button>
        </div>

        <p class="acb-intro">
            <f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.transparency" />
            <f:if condition="{settings.privacyPageUid} > 0">
                <f:link.page pageUid="{settings.privacyPageUid}" class="acb-intro__link"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.privacy.link" /></f:link.page>
            </f:if>
        </p>

        <div id="acb-log" class="acb-log" role="region" tabindex="0"
             aria-labelledby="acb-log-heading" aria-describedby="acb-log-hint">

            <f:switch expression="{settings.headingLevel}">
                <f:case value="3"><h4 id="acb-log-heading" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.label" /></h4></f:case>
                <f:case value="4"><h5 id="acb-log-heading" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.label" /></h5></f:case>
                <f:case value="5"><h6 id="acb-log-heading" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.label" /></h6></f:case>
                <f:case value="6"><h6 id="acb-log-heading" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.label" /></h6></f:case>
                <f:defaultCase><h3 id="acb-log-heading" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.label" /></h3></f:defaultCase>
            </f:switch>

            <p id="acb-log-hint" class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.log.hint" /></p>

            <ul id="acb-log-list" class="acb-log__list" role="list">
                <li id="acb-greeting" class="acb-msg acb-msg--bot" tabindex="-1">
                    <span class="acb-msg__sender"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sender.bot" arguments="{0: settings.botName}" /></span>
                    <span class="acb-msg__text"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.greeting" arguments="{0: settings.botName}" /></span>

                    <f:if condition="{settings.starterQuestions}">
                        <div id="acb-starters" class="acb-msg__actions">
                            <span id="acb-starters-intro" class="acb-msg__actions-intro"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:starter.intro" /></span>
                            <ul class="acb-msg__choices" role="list" aria-labelledby="acb-starters-intro">
                                <f:variable name="starterCount" value="0" />
                                <f:for each="{f:split(value: settings.starterQuestions, separator: '|')}" as="starterQuestion">
                                    <f:if condition="{starterCount} < 4">
                                        <f:if condition="{starterQuestion -> f:format.trim()}">
                                            <li><button type="button" class="acb-starter"><f:format.trim value="{starterQuestion}" /></button></li>
                                            <f:variable name="starterCount" value="{starterCount + 1}" />
                                        </f:if>
                                    </f:if>
                                </f:for>
                            </ul>
                        </div>
                    </f:if>

                    <f:if condition="{settings.readAloudEnabled} == 1">
                        <div class="acb-msg__tools">
                            <button type="button" class="acb-speak"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:readaloud.start" /></button>
                        </div>
                    </f:if>
                </li>
            </ul>
        </div>

        <p id="acb-status" class="acb-status" role="status" aria-live="polite"></p>

        <form id="acb-form" class="acb-form" novalidate="novalidate">
            <div class="acb-form__field">
                <label class="acb-form__label" for="acb-input"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:form.input.label" /></label>
                <input type="text" id="acb-input" class="acb-input" name="acb-message"
                       maxlength="1000" autocomplete="off" enterkeyhint="send" />
            </div>
            <button type="button" id="acb-mic" class="acb-mic" aria-pressed="false"
                    aria-describedby="acb-mic-hint" hidden>
                <img class="acb-icon" src="{f:uri.resource(path: 'EXT:accessible_chatbot/Resources/Public/Icons/microphone.svg')}" width="24" height="24" alt="" />
                <span class="acb-visually-hidden"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.label" /></span>
            </button>
            <button type="submit" id="acb-send" class="acb-send" data-acb-mode="send"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:form.send" /></button>
        </form>

        <p id="acb-mic-hint" class="acb-mic-hint" hidden><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.hint" /></p>
        <p id="acb-mic-unavailable" class="acb-mic-hint" hidden><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.unavailable" /></p>

        <fieldset class="acb-options">
            <legend class="acb-options__legend"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:option.genderstyle.legend" /></legend>
            <div class="acb-options__row">
                <input type="radio" id="acb-gender-neutral" name="acb-gender-style" value="neutral" />
                <label for="acb-gender-neutral"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:option.genderstyle.neutral" /></label>
            </div>
            <div class="acb-options__row">
                <input type="radio" id="acb-gender-pair" name="acb-gender-style" value="pair" />
                <label for="acb-gender-pair"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:option.genderstyle.pair" /></label>
            </div>
            <div class="acb-options__row">
                <input type="radio" id="acb-gender-asterisk" name="acb-gender-style" value="asterisk" />
                <label for="acb-gender-asterisk"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:option.genderstyle.asterisk" /></label>
            </div>
            <p class="acb-options__hint"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:option.genderstyle.hint" /></p>
        </fieldset>

        <div class="acb-actions">
            <f:if condition="{settings.contactPageUid} > 0">
                <f:link.page pageUid="{settings.contactPageUid}" class="acb-contact"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.contact" /></f:link.page>
            </f:if>

            <button type="button" id="acb-reset" class="acb-reset" aria-expanded="false" aria-controls="acb-reset-confirm"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.newconversation" /></button>

            <div id="acb-reset-confirm" class="acb-confirm" role="group" aria-labelledby="acb-reset-question" hidden>
                <p id="acb-reset-question" class="acb-confirm__question"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.newconversation.question" /></p>
                <button type="button" id="acb-reset-yes" class="acb-confirm__button" aria-describedby="acb-reset-question"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.newconversation.confirm" /></button>
                <button type="button" id="acb-reset-no" class="acb-confirm__button" aria-describedby="acb-reset-question"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.newconversation.cancel" /></button>
            </div>
        </div>
    </div>

    <button type="button" id="acb-toggle" class="acb-toggle" aria-expanded="false" aria-controls="acb-dialog">
        <img class="acb-toggle__icon" src="{f:uri.resource(path: 'EXT:accessible_chatbot/Resources/Public/Icons/chat.svg')}" width="24" height="24" alt="" />
        <span id="acb-toggle-label" class="acb-toggle__label"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.toggle.open" /></span>
    </button>

    <!--
        Textbaustein-Block fuer das JavaScript.
        <template> wird vom Browser NICHT angezeigt und landet nicht im
        Accessibility-Baum. Das JavaScript liest hier alle Texte aus, damit
        keine einzige Zeichenkette fest im JavaScript steht und alles
        uebersetzbar bleibt. Fluid setzt Platzhalter wie %s bereits hier ein.
    -->
    <template id="acb-i18n">
        <span data-acb-key="toggle.open"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.toggle.open" /></span>
        <span data-acb-key="toggle.close"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:widget.toggle.close" /></span>
        <span data-acb-key="sender.user"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sender.user" /></span>
        <span data-acb-key="sender.bot"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sender.bot" arguments="{0: settings.botName}" /></span>
        <span data-acb-key="status.typing"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.typing" arguments="{0: settings.botName}" /></span>
        <span data-acb-key="status.busy"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.busy" arguments="{0: settings.botName}" /></span>
        <span data-acb-key="status.newanswer"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.newanswer" arguments="{0: settings.botName}" /></span>
        <span data-acb-key="error.empty"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:error.empty" /></span>
        <span data-acb-key="error.request"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:error.request" /></span>
        <span data-acb-key="mic.listening"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.listening" /></span>
        <span data-acb-key="mic.recognized"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.recognized" /></span>
        <span data-acb-key="mic.stopped"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.stopped" /></span>
        <span data-acb-key="mic.nospeech"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.nospeech" /></span>
        <span data-acb-key="mic.denied"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.denied" /></span>
        <span data-acb-key="mic.error"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.status.error" /></span>
        <span data-acb-key="sender.system"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sender.system" /></span>
        <span data-acb-key="error.offline"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:error.offline" /></span>
        <span data-acb-key="error.timeout"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:error.timeout" /></span>
        <span data-acb-key="error.contactlink"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:error.contactlink" /></span>
        <span data-acb-key="sources.one"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sources.one" /></span>
        <span data-acb-key="sources.many"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.sources.many" /></span>
        <span data-acb-key="contact.hint"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.contacthint" /></span>
        <span data-acb-key="navigate.button"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.navigate.button" /></span>
        <span data-acb-key="navigate.arrived"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.navigate.arrived" /></span>
        <span data-acb-key="clarify.intro"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.clarify.intro" /></span>
        <span data-acb-key="clarify.option"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:message.clarify.option" /></span>
        <span data-acb-key="send.label"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:form.send" /></span>
        <span data-acb-key="send.cancel"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:form.cancel" /></span>
        <span data-acb-key="status.cancelled"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.cancelled" /></span>
        <span data-acb-key="status.contextlimit"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.contextlimit" /></span>
        <span data-acb-key="status.conversationreset"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:status.conversationreset" /></span>
        <span data-acb-key="readaloud.start"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:readaloud.start" /></span>
        <span data-acb-key="readaloud.stop"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:readaloud.stop" /></span>
        <span data-acb-key="readaloud.stopped"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:readaloud.status.stopped" /></span>
        <span data-acb-key="mic.hint.local"><f:translate key="LLL:EXT:accessible_chatbot/Resources/Private/Language/locallang.xlf:mic.hint.local" /></span>
    </template>
</div>

</html>
